body {
    padding-top: 80px;
}
footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #333;
    color: #a5a4a4;
    text-align: center;
    padding: 20px 0;
}
a {
    color: #428bca;
    border-bottom: none;
}
ul{
    list-style: none;
}
.middle{
    text-align:center
}

.tag-list a{
    padding:5px 5px;
    background: #f5f5f5;
    border-bottom: none;
    display: inline-block;
}

.tag-list a:hover {
    background: #ccc;
}

.post {
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.post-title {
    font-size: 20px;
    line-height: 1.4;
}


.post-title-info {
    font-size: 24px;
}

.post-date {
    color: #777777;
}

.post-meta {
    letter-spacing: 1px;
}
.post-content {
    font-size: 14px;
    line-height: 1.5;
    margin: 15px 0;
}

.post-content-list p {
    font-size: 14px;
    line-height: 1.8;
}

.post-footer {
    margin-top: 10px;
    border-top: 1px solid #ebebeb;
    padding: 15px 0 0;
}
.post-detail-footer{
    margin: 10px auto;
    padding: 15px 0 0;
}

.post-copyright{
    margin: 2em 0 0;
    padding: 0.5em 1em;
    border-left: 3px solid #ff1700;
    background-color: #f9f9f9;
    list-style: none;
}
.post-copyright li{
    padding-top: 10px;
}
.post-nav{
    border-top: 1px solid #ebebeb;
    margin-top: 20px;
    padding: 15px 0 0;
}
. post-nav-next{

float: left;
}
.post-nav-prev{

    float: right;
}




